
h1{
  font-size: 50px;
  text-align: center;
  border-bottom:1px solid gray;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
ol{
  margin:0;
  text-align:center;
  border-right:1px solid gray;
}
article{
  margin:2px;
  text-align:center;

}
#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}
